/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Default*/
html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* overflow: hidden; */
}

.big-glass {
  border: .2rem solid black;
  border-radius: 0 0 3rem 3rem;
  padding: 6rem 2rem;
}

.glass {
  border: .2rem solid black;
  border-radius: 0 0 3rem 3rem;
  padding: 2rem 1rem;
}